<div class="modal fade" id="newRecipe">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create a new Recipe</h4>
      </div>
      <%= form_for Recipe.new do |f| %>
        <div class="modal-body">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Type your recipe name' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-default">Create</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
