<div class="layout">
  <div class="recipe clearfix">
    <div class="header clearfix">
      <div class="header-background" data-background-url="<%= @recipe.cover_image_large_url %>"></div>
      <a href="#" class="btn open-sidebar" title="Menu"></a>

      <div class="cover-upload">
        <div>Drag or <a class="clickable">select</a> a cover photo</div>
        <div class="upload-details"></div>
      </div>
      <div class="inner">
        <%= content_tag :h1, @recipe.name, class: 'recipe-text-field', contenteditable: true, data: { name: 'name' } %>
        <div class="details">
          <%= content_tag :span, '', class: 'recipe-select-field', data: {
            default: @recipe.category.name,
            name: 'category_id',
            resource_url: api_categories_path(format: :json)
          } %> for
          <%= content_tag :span, '', class: 'recipe-select-field', data: {
            default: @recipe.servings,
            name: 'servings',
            resource_content: '2,4,6,8,10'
          } %> people, in
          <%= content_tag :span, '', class: 'recipe-select-field', data: {
            default: @recipe.preparation_time,
            name: 'preparation_time',
            resource_content: '5,10,15,20,30,45,60,120'
          } %> minutes
        </div>
      </div>

    </div>
    <section class="content">
      <div class="inner clearfix"></div>
      <div class="editing-tools">
        <a class="open-tools" data-toggle="dropdown">
          <span>+</span>
          <span class="text">Add item</span></a>
      </div>
    </section>
  </div>
</div>

<div class="modal fade" id="toolsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <strong>Include</strong>
        <ul class="clearfix">
          <li class="line-item-tool"><a href="#" data-type="single" data-tag="h2"></a></li>
          <li class="line-item-tool"><a href="#" data-type="single" data-tag="p"></a></li>
          <li class="line-item-tool"><a href="#" data-type="list" data-tag="ul"></a></li>
          <li class="line-item-tool"><a href="#" data-type="list" data-tag="ol"></a></li>
          <li class="line-item-tool"><a href="#" data-type="image" data-tag="one"></a></li>
          <li class="sort-tool"><a href="#" data-tag="sort"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="recipeImagesModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Recipe Gallery</h4>
      </div>
      <div class="recipe-images-upload">
        <div class="modal-body">
          <div class="row">
            <% @recipe.recipe_images.each do |recipe_image| %>
              <div class="col-xs-6 col-md-4">
                <div class="thumbnail" data-id="<%= recipe_image.id %>" data-url="<%= recipe_image.image.url(:large) %>">
                  <%= image_tag recipe_image.image.url(:medium) %>
                  <a href="#" class="delete"><%= icon_tag('trash') %></a>
                </div>
              </div>
            <% end %>
            <div class="col-xs-6 col-md-4">
              <a href="#" class="thumbnail clickable">
                Add Image
              </a>
            </div>
          </div>
          <div class="upload-details hidden"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :bottom do %>
  <script>
    var recipeId = '<%= @recipe.id %>';
    var $defaultTarget = $('.recipe .content .inner');
    editing = new Editing();
    editing.init();
  </script>
<% end %>
