<div class="container index">
  <div class="row">
    <div class="col-sm-12">

      <div class="profile">
        <div class="user-image" data-background-url="<%= current_user.large_profile_image %>"></div>
        <h2><%= current_user.name %></h2>
        <div class="actions">
          <%= link_to icon_tag('off'), signout_path %>
        </div>
      </div>

      <div class="row recipe-thumbnails">
        <% @recipes.each do |recipe| %>
          <div class="col-sm-4">
            <div class="thumbnail recipe-thumbnail clearfix">
              <%= link_to edit_recipe_path(recipe), class: 'image-anchor' do %>
                <div class="image" data-background-url="<%= recipe.cover_image.url(:medium) %>"></div>
              <% end %>
              <strong class="clearfix"><%= truncate recipe.name, length: 60 %></strong>
              <div class="pull-left">
                <span><%= icon_tag('tag') %> <%= recipe.category.name %></span>
                <span><%= icon_tag('time') %> <%= recipe.preparation_time %></span>
                <span><%= icon_tag('cutlery') %> <%= recipe.servings %></span>
              </div>
              <div class="pull-right">
                <%= link_to icon_tag('trash'), recipe, method: :delete, class: 'text-danger' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="create">
        <%= link_to '+', '#', class: 'new-recipe' %>
      </div>

    </div>
  </div>
</div>

<%= render 'new' %>
