<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Recipppe</h2>
      <%= link_to 'Login with Facebook', '/auth/facebook', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
