<% if @step.persisted? %>
  var newStep = $('<%=j render "recipes/step", step: @step %>');

  <% if params[:after_step] %>
  var afterStep = $('.step[data-id="<%= params[:after_step] %>"]');
  if (afterStep.length) {
    afterStep.after(newStep);
  }
  <% else %>
  $('.steps ul').append(newStep);
  <% end %>

  $(newStep).find('.step-content').focus();
  window.textStep.updatePositions('.steps');
  <% if @step.is_image? %>
  window.upload.setUploadArea('.step[data-id="<%= @step.id %>"] .thumbnail');
  <% end%>
<% end %>