@mixin transform-transition {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-delay: 0;
  -webkit-transition-property: transform;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
  -webkit-transition-delay: 0;
  -moz-transition-property: transform;
  -moz-transition-duration: .5s;
  -moz-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
  -moz-transition-delay: 0;
  -ms-transition-property: transform;
  -ms-transition-duration: .5s;
  -ms-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
  -ms-transition-delay: 0;
  -o-transition-property: transform;
  -o-transition-duration: .5s;
  -o-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
  -o-transition-delay: 0;
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.33, 0, .2, 1);
  -transition-delay: 0;
}

@mixin simple-transition {
  -webkit-transition-property: color;
  -webkit-transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-property: color;
  -moz-transition-duration: .1s;
  -moz-transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -ms-transition-property: color;
  -ms-transition-duration: .1s;
  -ms-transition-timing-function: ease-out;
  -ms-transition-delay: 0;
  -o-transition-property: color;
  -o-transition-duration: .1s;
  -o-transition-timing-function: ease-out;
  -o-transition-delay: 0;
  transition-property: color;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  -transition-delay: 0;
}

@mixin all-transition {
  transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}
