/*
 * Editing
 */

[contenteditable] {
  outline: none;
  cursor: text;
  &:first-child:empty:after {
    content: 'Write your recipe' !important;
  }
}

[contenteditable='false'] {
  cursor: move;
}

.sortable-ghost {
  opacity: 0.5;
}

.recipe {
  .header {
    .cover-upload {
      position: absolute;
      left: 50%;
      top: 35%;
      margin-left: -120px;
      width: 240px;
      padding: 10px 20px;
      border-radius: 30px;
      text-align: center;
      border: 1px solid #fff;
      color: #fff;
      display: block;
      a {
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
      }
      .upload-details {
        display: none !important;
      }
    }
  }

  .content {
    .inner {
      ul li, ol li, p, h2 {
        &:empty:after {
          display: block;
          content: 'Type here...';
          color: #ccc;
        }
      }
      .image {
        position: relative;
        .delete {
          position: absolute;
          top: 10px;
          right: 10px;
          display: none;
          font-size: 30px;
          z-index: 2;
          transform: rotate(45deg);
          cursor: pointer;
          width: 40px;
          height: 40px;
          background: rgba(255, 255, 255, 0.7);
          color: #999;
          border-radius: 40px;
          text-align: center;
          line-height: 40px;

          @include all-transition;
          &:hover {
            transform: rotate(315deg);
            color: #fff;
            background: rgba(0, 0, 0, 0.5);
          }
        }
        &:hover {
          .delete {
            display: block;
          }
        }
        .holder {
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .editing-tools {
      display: block;
      position: relative;
      margin: 0 auto;

      .open-tools {
        display: block;
        width: 45px;
        height: 45px;
        border: 2px solid #ccc;
        border-radius: 200px;
        color: #ccc;
        text-align: left;
        box-shadow: none;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 15px;
        text-decoration: none;
        @include all-transition;
        span {
          font-size: 18px;
          line-height: 40px;
          @include all-transition;
          &.text {
            padding-left: 12px;
            text-transform: uppercase;
          }
        }
        &:hover {
          background: #eee;
          // width: 130px;
          // span.text {
          //   padding-left: 0;
          // }
        }
        &.active {
          background: #aeb984;
          border-color: #aeb984;
          color: #fff;
          transform:rotate(45deg);
          -ms-transform:rotate(45deg);
          -webkit-transform:rotate(45deg);
        }
      }

    }
  }
}

.editing-tools {
  padding: 20px 0 40px;
  .open-tools {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .recipe {
    .header {
      .cover-upload {
        top: 20px;
        margin-top: 0;
      }
    }
  }
}

.recipe-select-field {
  div { display: inline-block; }
  .dropdown {
    > a {
      color: #fff;
      text-decoration: underline;
    }
    .dropdown-menu {
      min-width: 0;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 0;
      border: 0;
      li a {
        padding: 3px 10px;
        color: #fff;
        &:hover {
          background: rgba(0, 0, 0, 0.8);
        }
      }
      &:after {
        top: 100%;
        left: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-top-color: rgba(0, 0, 0, 0.6);
        border-width: 5px;
      }
    }
  }
}

#toolsModal {
  .modal-dialog {
    max-width: 200px;
    margin: 40px auto !important;
    .modal-body {
      > strong {
        display: block;
        padding: 0 0 5px;
        border-bottom: 1px solid #f4f4f4;
        margin-bottom: 5px;
        color: #bbb;
        font-weight: 300;
        text-transform: uppercase;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          position: relative;
          display: block;
          margin: 5px 0;
          float: left;
          width: 46%;
          height: 60px;
          margin-right: 8%;
          &:nth-child(2n+0) {
            margin-right: 0;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            color: #666;
            padding: 4px 8px;
            font-size: 25px;
            line-height: 55px;
            text-align: center;
            display: block;
            background-color: #f4f4f4;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 40% auto;
            &[data-tag="h2"] {
              background-image: url(asset-path('tools-icons/header.png'));
            }
            &[data-tag="p"] {
              background-image: url(asset-path('tools-icons/paragraph.png'));
            }
            &[data-tag="ol"] {
              background-image: url(asset-path('tools-icons/ordered-list.png'));
            }
            &[data-tag="ul"] {
              background-image: url(asset-path('tools-icons/unordered-list.png'));
            }
            &[data-tag="one"] {
              background-image: url(asset-path('tools-icons/image.png'));
            }
            &[data-tag="sort"] {
              background-image: url(asset-path('tools-icons/sort.png'));
            }
            &:hover {
              background-color: #eee;
            }
          }
        }
      }
    }
  }
}


#recipeImagesModal {
  .thumbnail {
    padding: 0;
    border: 0;
    &.placeholder {
      background: url(asset-path('loading.gif')) #fff no-repeat center center;
      min-height: 127px;
    }
    .delete {
      position: absolute;
      top: 10px;
      right: 25px;
      color: #fff;
      text-shadow: 0 1px 0 rga(0, 0, 0, 0.5);
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .clickable {
    text-align: center;
    min-height: 127px;
    line-height: 117px;
    font-size: 20px;
    color: #999;
    text-transform: uppercase;
    font-weight: 300;
    background: #f4f4f4;
    text-decoration: none;
    &:hover {
      box-shadow: 0 0 0 3px #ccc;
    }
  }

  &.selecting {
    .thumbnail {
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 0 3px #ccc;
      }
      .delete {
        display: none;
      }
    }
    .clickable {
      display: none;
    }
  }
}
