.container.index {
  font-family: 'Open Sans', sans-serif;

  .create {
    padding: 40px 0;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    a {
      color: #999;
    }
  }

  .profile {
    margin-top: 30px;
    .user-image {
      width: 70px;
      height: 70px;
      display: block;
      margin: 0 auto;
      border-radius: 100px;
      background-size: cover;
      background-position: center center;
      border: 4px solid #eee;
    }
    h2 {
      text-align: center;
      margin: 5px 0 0;
      font-weight: 300;
    }
    .actions {
      text-align: center;
      a {
        color: #999;
        &:hover {
          color: #333;
        }
      }
    }
  }

  .recipe-thumbnails {
    margin-top: 50px;
  }

  .recipe-thumbnail {
    padding: 0;
    border: 0;
    a.image-anchor {
      color: #999;
      text-decoration: none;
      &:hover {
        .image {
          opacity: 0.6;
        }
      }

      .image {
        width: 100%;
        height: 120px;
        background-color: #eee;
        background-size: cover;
        background-position: center center;
        @include all-transition;
      }
    }
    strong {
      display: block;
      height: 45px;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
    }
    span {
      display: inline-block;
      margin-right: 4px;
    }
  }
}

#newRecipe {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .form-control {
          padding-left: 0;
          padding-right: 0;
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }
}
