html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.btn {
  border: 0;
  text-transform: uppercase;
  font-weight: 300;
  &.btn-default {
    background: #f4f4f4;
    &:hover {
      background: #eee;
    }
  }
  &.btn-primary {
    color: #666;
  }
}

.form-control {
  border: 0;
  //border-bottom: 1px solid #eee;
  box-shadow: none !important;
}

.form-two-columns {
  label {
    line-height: 36px;
  }
}

.layout {
  width: 150%;
  overflow: hidden;
  background: #fff;
  @include transform-transition;
}

.modal {
  .modal-dialog {
    .modal-content {
      border-radius: 0;
      border: 0;
      box-shadow: none !important;
      .modal-title {
        font-weight: 300;
        text-transform: uppercase;
      }
      .modal-footer {
        margin-top: 0;
      }
    }
  }
}
