@mixin gradient-background {
  background: -moz-linear-gradient(top, #9f9f9f 0%, #d0d0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9f9f9f), color-stop(100%,#d0d0d0));
  background: -webkit-linear-gradient(top, #9f9f9f 0%,#d0d0d0 100%);
  background: -o-linear-gradient(top, #9f9f9f 0%,#d0d0d0 100%);
  background: -ms-linear-gradient(top, #9f9f9f 0%,#d0d0d0 100%);
  background: linear-gradient(to bottom, #9f9f9f 0%,#d0d0d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f9f9f', endColorstr='#d0d0d0',GradientType=0 );
}
