.recipe {
  position: relative;
  width: 66.66667%;
  z-index: 1;
  overflow: hidden;
  @include transform-transition;
  .header {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    color: #666;
    background: #9f9f9f;
    @include gradient-background;

    .header-background {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      opacity: 0;
      @include all-transition;
      &.display {
        opacity: 1;
      }
    }

    .inner {
      position: absolute;
      bottom: 40px;
      width: 100%;
      display: block;
      h1 {
        position: relative;
        display: block;
        width: 70%;
        max-width: 600px;
        margin: 60px auto 10px auto;
        color: #fff;
        font-family: 'Open Sans', serif;
        font-size: 50px;
        font-weight: 300;
      }
      .details {
        width: 70%;
        max-width: 600px;
        margin: 10px auto;
        color: #fff;
      }
    }
  }
  .content {
    position: static;
    width: 100%;
    height: auto;
    margin-left: 0;
    overflow-y: scroll !important;
    background: #fff;
    .inner {
      max-width: 600px;
      margin: 0 auto;
      padding: 40px 50px;
      color: #454545;
      font-weight: 400;
      ol, ul {
        padding: 0;
        margin-bottom: 10px;
        list-style: none;
        margin-bottom: 10px;
      }
      ul {
        li {
          position: relative;
          font-size: 16px;
          margin-bottom: 4px;
          &:before {
            content: '';
            width: 11px;
            height: 9px;
            background: url(asset-path('ol-list.gif')) transparent no-repeat center center;
            background-size: 100% auto;
            position: absolute;
            left: -18px;
            top: 7px;
          }
        }
      }
      ol {
        li {
          position: relative;
          font-size: 16px;
          margin-bottom: 10px;
          counter-increment: steps-counter;
          &:before {
            display: block;
            position: absolute;
            right: 101%;
            top: 0px;
            background: none;
            border-radius: 100px;
            color: #be926b;
            border: 1px solid #be926b;
            padding: 2px 6px;
            font-size: 10px;
            content: counter(steps-counter);
          }
        }
      }
      h2 {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
        color: #333;
        font-weight: normal;
      }
      p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 22px;
      }
      div.image {
        position: relative;
        margin: 20px 0;

        &.one {
          .holder {
            display: block;
            height: 300px;
            background: #eee;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &.two {
          .holder {
            background: #eee;
            width: 49%;
            display: block;
            height: 300px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            float: left;

            &[data-img-index="0"] {
              margin-right: 2%;
            }
          }
        }
      } // div.image
    }
    &.sorting {
      .line-item {
        opacity: 0.5;
        cursor: move !important;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .recipe {
    .header {
      position: fixed;
      width: 50%;
      height: 100%;
    }
    .content {
      position: relative;
      width: 50%;
      margin-left: 50%;
      overflow-x: hidden;
      overflow-y: scroll;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 1024px) {
  .recipe {
    .content {
      height: auto !important;
      min-height: 400px;
      overflow-y: visible !important;
      .inner {
        padding: 20px 0;
        width: 70%;
      }
    }
  }
}

@media (max-width: 460px) {
  .recipe {
    .header {
      .inner {
        h1 {
          margin-top: 80px;
          font-size: 24px;
        }
      }
    }
  }
}
