.sidebar {
  position: fixed;
  display: block;
  width: 0;
  height: 100%;
  //background: url(asset-path('logo-white.png')) #e8804c no-repeat 260px 30px;
  background: #e8804c;
  background-size: 70px auto;
  overflow: hidden;
  @include all-transition;
  .close {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    font-weight: normal;
    font-size: 40px;
    font-weight: 300;
    text-shadow: none;
    box-shadow: none;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .sidebar-inner {
    margin: 60px 25px 30px;
    color: #fff;
    ul {
      margin: 0;
      padding: 50px 0 0;
      list-style: none;
      min-width: 200px;
      li {
        margin-bottom: 7px;
        text-align: center;
        a {
          @include simple-transition;
          color: rgba(255, 255, 255, 0.5);
          font-weight: bold;
          text-decoration: none;
          font-weight: 300;
          font-size: 26px;
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}
.open-sidebar {
  position: absolute;
  display: block;
  left: 35px;
  top: 35px;
  width: 29px;
  height: 15px;
  background: url(asset-path('icon-open-sidebar.png')) transparent no-repeat center center;
  background-size: auto 100%;
  &:hover {
    opacity: 0.5;
  }
}

body.sidebar-opened {
  .sidebar {
    width: $sidebar-size;
  }
  .layout {
    -webkit-transform: translate3d($sidebar-size, 0, 0);
    -moz-transform: translate3d($sidebar-size, 0, 0);
    -ms-transform: translate3d($sidebar-size, 0, 0);
    -o-transform: translate3d($sidebar-size, 0, 0);
    transform: translate3d($sidebar-size, 0, 0);
  }
  .open-sidebar {
    display: none;
  }
}
