#editingInterface {
  &.simple {
    display: block;
    width: 400px;
    background: #f4f4f4;
    margin: 20px auto;
    padding: 20px;
  }

  [contenteditable] {
    outline: none;
  }

  .recipe-select-field {
    div {
      display: inline-block;
    }
  }

  p {
    position: relative;
    border: 1px dashed #999;
    outline: none;
    &:after {
      display: block;
      position: absolute;
      width: 100px;
      right: -120px;
      top: 0;
      content: 'Paragraph';
      background: #333;
      color: #fff;
    }
  }

}
