<div class="modal fade" id="accountSettings">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Account Settings</h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/nothing', class: 'form-two-columns' do %>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-3">
                <label>Email</label>
              </div>
              <div class="col-sm-9">
                <%= text_field_tag 'email', '', class: 'form-control', placeholder: 'Your main email' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save settings</button>
      </div>
    </div>
  </div>
</div>
