<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Recipppe</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="sidebar">
      <a href="#" class="btn close">+</a>
      <div class="sidebar-inner">
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to 'Your Profile', recipes_path %></li>
            <li><a href="#">New Recipe</a></li>
            <li><a href="#">Saved Drafts</a></li>
            <li><a href="#">Account Settings</a></li>
          </ul>
        <% end %>
      </div>
    </nav>
    <%= yield %>
    <%= render 'account_settings' if user_signed_in? %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.layout = new Layout();
      window.sidebar = new Sidebar();
    </script>
    <%= yield :bottom %>
  </body>
</html>
